@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 Georgia, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.img-flex {
  display: block;
  width: 100%;
}

.square {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

section {
  display: flex;
}

header {
  padding: .5rem 0;
  background-color: #fff;
  text-align: center;
}

h1 {
  margin: 0 0 .5rem;
  font-size: 3rem;
  font-family: Lobster, sans-serif;
  color: #c99544;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  text-align: center;
}

nav a {
  display: block;
  padding: .5em .75em;
  color: #333;
  text-decoration: none;
}

nav a:hover {
  background-color: #c78d38;
  color: #fff;
  border-radius: 5px;
}

.boxes {
  padding: 1em;
  background-color: #fff;
  border-bottom: 5px solid #000;
  width: 100%;
}

.boxes:hover {
  background-color: #c78d38;
}

.boxes:nth-child(1) {
  display: none;
}

.boxes:nth-child(4) {
  display: none;
}

h2 {
  text-align: center;
  font-family: Calistoga, sans-serif;
}

.banner {
  position: relative;
}

h3 {
  font-family: Calistoga, sans-serif;
  font-size: 1em;
  margin: 1rem;
}

p {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 45em;
  margin: 0 auto;
}

.section-icon {
  order: 3;
  padding-bottom: 1em;
  border-bottom: 5px solid #000;
}

.section-body {
  text-align: center;
  padding: 1em;
}

h4 {
  font-family: Calistoga, sans-serif;
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: .2em;
  margin-top: 0;
  max-width: 70%;
}

.everything {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
}

.img-second {
  width: 200px;
  padding: 1.2rem;
}

.text {
  text-align: center;
  bottom: 10%;
  left: 50%;
  background-color: rgba(239, 222, 203, .76);
  border-radius: 10px;
}

.footer {
  padding: 1.5rem 0;
  background-color: #e3ac5b;
  border-top: 3px solid #c78d38;
  color: #fff;
  text-align: center;
}

.btn:hover {
  background-color: #c78d38;
  color: #fff;
}

.footer h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.footer ul {
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding-left: 0;
  list-style-type: none;
}

.footer a {
  color: #003442;
}

.links {
  padding: 0 1rem;
}

.social {
  margin-left: auto;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
}

.social > li {
  margin: 0 .5em;
  width: 3em;
}

.copyright {
  padding: 0 1rem;
  width: 100%;
}

@media only screen and (min-width: 25em) {

  nav li {
    display: inline-block;
    text-align: center;
  }

  .boxes:nth-child(1) {
    display: flex;
  }

  .boxes:nth-child(4) {
    display: flex;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .section-icon {
    width: 33%;
    order: 3;
    margin: 0;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
  }

  h1,
  nav {
    display: inline-block;
    vertical-align: middle;
  }

  h1 {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
